.card-text {
    text-align: center;
}

.card-title {
    text-align: center;
    margin-top: 30px;
}

.red-line {
    border-top: 5px solid rgb(14, 14, 14);
    width: 90%;
    margin-left: 50px;

}

.mini-container {
    text-align: center;
    color: rgb(186, 9, 9);
    font-weight: bold;
}

.mini-container p {
    font-size: 13px;
    color: white
}

#boton-fav {
    width: 200px;
    margin-right: 10px;
}

#Button1 {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

#Button1:hover {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    color: red;
    background: yellow;
}

.bean {
    color: black;
}

.bean:hover {
    color: rgb(225, 15, 15);
    cursor: pointer;
}

.navbar {
    z-index: 10;
    width: 100%;
    padding: 0px; 
}

.iconosw {
    color: red;
}

.footer {
    display: flex;
    justify-content: center;
    height: 100px;
}

form {
    padding-inline: 200px;
}

.login-link:hover {
    text-shadow: 2px 2px 2px yellow;
    cursor: pointer;
    
}

.navbar-brand:hover {
    text-shadow: 2px 2px 2px yellow;
    
}

.navbar-brand {
    font-size: 30px;
    
}

.login-link  {
    color: white;
    margin-inline: 20px;
    font-size: 20px
}

.login-logo {
    color: white;
}

.navdiv__1 {
    align-items: left;
}

.navdiv__2 {
    display: flex; 
    align-content: flex-end;
}

.sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
  }

body {
    /* height:max-content; */
    background: black;
}
  
.buton__favorites {
    background-color: rgb(186, 9, 9);
    color: white; 
}

.buton__favorites:hover {
    background-color: white;
    color:rgb(186, 9, 9);
    font-weight: bold;
}