.card-group {
    margin: 20px;
}

.card {
    color: white; 
    background: rgb(53, 51, 51); 
    margin-top: 20px; 
    margin-inline: 20px;
    padding: 0px
}

.card-people {
    /* width: 100%; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 30px;
}

p{
    margin: 0px; 
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.boton-learn {
    width: 200px;
    height: 50px;
    color: black;
    font-weight: bold;
    outline: 1px solid blue;
    background-color: rgb(139, 37, 37);
    border-radius: 5px;
    font-size: 20px;
}

.boton-learn:hover{
    color: white;
    background-color: blue;
}
.boton-learn:active{
  color: red; 
}

.footer__card {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
    height: 12px; /* Alto de la barra de desplazamiento horizontal */
  }
  
  ::-webkit-scrollbar-track {
    background: #962f2f; /* Fondo del riel de la barra de desplazamiento */
    border-radius: 50%;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #c5b9b9; /* Color de la barra de desplazamiento */
    border-radius: 6px; /* Radio de borde para esquinas redondeadas */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #f7f4f4; /* Color de la barra de desplazamiento al pasar el cursor */
  }

  .osian {
    font-size: 45px;
    text-shadow: 1px 5px 0 #962f2f;
  }